name: Build and Test CI for Pull Requests

on:
  pull_request:
    branches: [ 'master', 'develop' ]
  workflow_dispatch:

jobs:

  build-bionic:
    name: build-bionic
    runs-on: self-hosted
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0

    - name: Checkout submodule
      run: git submodule update --init --depth 1 description/media

    - name: Build, test
      run: ./scripts/docker/build.sh --bionic --remote
                                     astrobee test_astrobee
